:root {
  --padding-container: 15px;
  --value-columns: 3;
  --offset-projects: 30px;
  --main-color: #212121;
  --secondary-color: #757575;
  --head-color: #000;
  --accent-color: #2196f3;
  --primary-white-color: #fff;
  --color-address-link: rgba(255, 255, 255, 0.6);
  --btn-active: #188ce8;
  --bgcolor-main: #f5f5f5;
  --bgcolor-secondary: #2f303a;
  --bgcolor-team: #f5f4fa;
  --outline-project: #eee;
  --border-header: #ececec;
}

/* reset styles */
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

/* common styles */
body {
  font: 400 14px/1.14 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--primary-white-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.display-none {
  display: none;
}

.button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;
}
.img-block {
  display: block;
}
/* -----Header ----*/
.main-page .header {
  border-bottom: 1px solid transparent;
}
.portfolio-page .header {
  border-bottom: 1px solid var(--border-header);
}
.header-box {
  display: flex;
  align-items: center;
}

/* navigation */
.nav {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  color: var(--accent-color);
  font: 700 26px/1.19 'Raleway', sans-serif;
}
.nav > .logo {
  margin-right: 93px;
}
.header-studio {
  color: var(--head-color);
}

/* common links */
.site-nav-link,
.contacts-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

/* site-nav */
.site-nav {
  display: flex;
}
/* site-nav links */
.site-nav-link {
  color: var(--main-color);
}
.site-nav > .item + .item {
  margin-left: 50px;
}
.site-nav-link.current {
  color: var(--accent-color);
}

/* contacts-nav */
.contacts-nav {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
/* contacts-nav links */
.contacts-nav-link {
  color: var(--secondary-color);
}

.contacts-nav-link:hover,
.contacts-nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/*------ Main studio------ */
/* common styles */
.section-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  /* 42/36=1.166.. */
  line-height: 1.17;
  text-align: center;
}
/* poster */
.poster {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bgcolor-secondary);
  text-align: center;
}
.poster-header {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

.poster-btn {
  padding: 10px 32px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.poster-btn:active {
  background-color: var(--btn-active);
}

/* Features */
.features,
.doing {
  background-color: var(--bgcolor-main);
}
.features-box {
  display: flex;
  gap: 30px;
}
.feature-item {
  flex-basis: 270px;
}
.feature-header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
}
.feature-description {
  line-height: 1.71;
  color: var(--secondary-color);
}

/* Doing */
.doing {
  padding-top: 0;
}
.doing-box {
  display: flex;
  justify-content: space-between;
}
/* Team */
.team {
  line-height: 1.18;
  background-color: var(--bgcolor-team);
}
.team-box {
  display: flex;
  justify-content: space-between;
}
.team-card {
  background-color: var(--primary-white-color);
}
.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-header {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}

.team-description {
  font-size: 16px;
  color: var(--secondary-color);
}

/*------ Main portfolio -------*/

/* btn-box */
.btn-box {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filters-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-color);
}
.filters-btn:active,
.filters-btn:hover,
.filters-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--btn-active);
}
/* Projects */
.projects {
  margin-top: calc(-1 * var(--offset-projects));
  margin-left: calc(-1 * var(--offset-projects));
  display: flex;
  flex-wrap: wrap;
}

.project {
  flex-basis: calc(
    (100% - 2 * var(--padding-container) - var(--offset-projects) * (var(--value-columns) - 1)) /
      var(--value-columns)
  );
  margin-top: var(--offset-projects);
  margin-left: var(--offset-projects);

  /* не зовсім зрозуміла умова B17 використання лише нижнього бордера */
  box-shadow: 1px 0 var(--outline-project), -1px 0 var(--outline-project);
  border-bottom: 1px solid var(--outline-project);
}
/* .project:not(:nth-child(-n + 3)) {
  margin-top: 30px;
} */

.project > img {
  display: block;
}
.project-text {
  padding: 20px 24px;
}

.filters-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filters-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color);
}
/*------ Footer -------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgcolor-secondary);
}
/* logo */
.footer-studio {
  color: var(--primary-white-color);
}
/* address */
.address {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-white-color);
}

.address-link {
  display: block;
  margin-top: 9px;
  color: var(--color-address-link);
}
